<div class="grid">
  <div class="grid-area grid-area-1"><%= image_tag current_user.profile_picture, class: "profile" %>
    <h1><%= current_user.name %></h1>
    <h2><%= current_user.username %></h2>
    <p class="bio"><%= current_user.bio %></p>
    <hr>
    <p class="city"><%= octicon "location", style: "vertical-align:middle" %> <%= current_user.location %></p>
    <p class="email"><%= octicon "mail", :height => 16, style: "vertical-align:middle" %> <%= mail_to  current_user.email %></p>
  </div>
  <div class="grid-area grid-area-2">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Repositories <span class="badge badge-light"><%= @repositories.count %></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="star-tab" data-toggle="tab" href="#star" role="tab" aria-controls="star">Stars <span class="badge badge-light"><%= @starred_repos.count %></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers">Followers</a>
      </li>
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Following</a>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div>
        </div>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <% @repositories.reverse.each do |repository| %>
          <p class="repository"><%= link_to repository.name, repository.url %></p>
          <% if repository.language == "Ruby" %>
            <p class="repo-sub"><i class="devicon-ruby-plain colored"></i> <b><%= repository.language %></b> Updated <%= distance_of_time_in_words(Time.now, repository.updated_at) %> ago</p>
          <% elsif repository.language == "HTML" %>
            <p class="repo-sub"><i class="devicon-html5-plain"></i> <b><%= repository.language %></b> Updated <%= distance_of_time_in_words(Time.now, repository.updated_at) %> ago</p>
          <% elsif repository.language == "JavaScript" %>
            <p class="repo-sub"><i class="devicon-javascript-plain colored"></i> <b><%= repository.language %></b> <%= distance_of_time_in_words(Time.now, repository.updated_at) %> ago</p>
          <% else %>
            <p class="repo-sub"><b><%= repository.language %></b> <%= distance_of_time_in_words(Time.now, repository.updated_at) %> ago</p>
          <% end %>
          <hr>
        <% end %>
      </div>
      <div class="tab-pane fade" id="star" role="tabpanel" aria-labelledby="star-tab">
        <% @starred_repos.each do |repository| %>
          <p class="repository"><%= link_to repository.full_name, repository.url %></p>
          <% if repository.language == "Ruby" %>
            <p class="repo-sub"><i class="devicon-ruby-plain colored"></i> <b><%= repository.language %></b> Updated <%= distance_of_time_in_words(Time.now, repository.updated_at) %> ago</p>
          <% elsif repository.language == "HTML" %>
            <p class="repo-sub"><i class="devicon-html5-plain"></i> <b><%= repository.language %></b> Updated <%= distance_of_time_in_words(Time.now, repository.updated_at) %> ago</p>
          <% elsif repository.language == "JavaScript" %>
            <p class="repo-sub"><i class="devicon-javascript-plain colored"></i> <b><%= repository.language %></b> <%= distance_of_time_in_words(Time.now, repository.updated_at) %> ago</p>
          <% else %>
            <p class="repo-sub"><b><%= repository.language %></b> <%= distance_of_time_in_words(Time.now, repository.updated_at) %> ago</p>
          <% end %>
          <hr>
        <% end %>
      </div>
      <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
        <% @followers.each do |follower| %>
          <p class="followers"><%= image_tag follower.profile_picture, :size => "50x50" %> <%= follower.name %> <%= follower.username %></p>
          <p><%= follower.bio %> 
          <%= octicon "location", style: "vertical-align:middle" %> <%= follower.location %></p>
          <hr>
        <% end %>
      </div>
      <div class="tab-pane fade" id="dropdown1" role="tabpanel" aria-labelledby="dropdown1-tab">...</div>
      <div class="tab-pane fade" id="dropdown2" role="tabpanel" aria-labelledby="dropdown2-tab">...</div>
    </div>
  </div>
</div>
