<!DOCTYPE html>
<html>
  <head>
    <title>Apicurious</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'fonts', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'global', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'images', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'sessions', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'navigation', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    
  </head>

  <body>
    <div class="nav">
    <ul class="primary-nav">
      <li class="primary-nav header"><%= image_tag 'logo/GitHub-Mark-Light-64px', style: 'height: 32px; width: 32px; vertical-align:middle;' %></li>
      <li class="primary-nav"><a class="active" href="#home">Pull requests</a></li>
      <li class="primary-nav"><a class="active" href="#news">Issues</a></li>
      <li class="primary-nav"><a class="active" href="#contact">Marketplace</a></li>
      <li class="primary-nav"><a class="active" href="#about">Explore</a></li>
      <% if current_user %>
        <li class="primary-nav"><a class="active" href="/signout" data-method="delete">Logout</a></li>
      <% else %>
         <li class="primary-nav"><a class="active" href="/auth/github">Login</a></li>
      <% end %>
    </ul>
    </div>
    <%= yield %>
  </body>
</html>
