<!DOCTYPE html>
<html>
  <head>
    <title>Apicurious</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
      }

      li {
          float: left;
      }

      li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }

      li a:hover {
          background-color: #111;
      }

      .header img {
          float: left;
          margin: 10px;
      }
    </style>
  </head>

  <body>
    <% if current_user %>
      Hello, <%= current_user.name %>
      <%= link_to "Logout", signout_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in with Github", "/auth/github" %>
    <% end %>

    <ul>
      <li class="header"><%= image_tag 'logo/GitHub-Mark-Light-64px', style: 'height: 32px; width: 32px; vertical-align:middle;' %></li>
      <li><a class="active" href="#home">Pull requests</a></li>
      <li><a class="active" href="#news">Issues</a></li>
      <li><a class="active" href="#contact">Marketplace</a></li>
      <li><a class="active" href="#about">Explore</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
